@font-face {
    font-family:shaun-font-1;
    src: url('./fonts/raleway/Raleway-Regular.ttf');
}

@font-face {
    font-family:shaun-font-2;
    src: url('./fonts/amatic/AmaticSC-Regular.ttf');
}

body{
    font-family:shaun-font-1, shaun-font-2, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display: flex;
    box-sizing: border-box;
}

.background{
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    height: 100vh;
    background-image: url("./images/casey-horner-0D8_tYHIy0o-unsplash.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.background-logoBacking{
    background-color: rgba(255,255,255,0.7);
    height: 20vh;
    width: 100%;
    position: absolute;
    top: 30vh;
}


.main{
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    width: 50vw;
}


.header{
    background-color:antiquewhite;
    height: 20vh;
}

.content{
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
    height: 60vh;
}

.content-container{
    background-color: gainsboro;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
}

.content-container-input{
    background-color: gainsboro;
    height: 20px;
    width: 350px;
    padding: 0px 10px 0px 10px;
    display: flex;
    flex-direction: column;
}

input[type="text"], input[type="email"], input[type="tel"] input[type="password"]{
    -webkit-appearance: none;
    appearance: none;
}


.footer{
    background-color: aquamarine;
    height: 20vh;
}

/*
div{
    padding: 1px;
    display: flex;
    flex: 1 1 auto;
}
*/

h1{
    color: red;
}